body {
    margin: 10px;
    padding: 50px 40px;
    background-color: #f5ecdf;
    color: #555753;
    font-family: Helvetica,sans-serif;
    font-size: 15px
}

p.main {
    font-size: 20px;
    line-height: 30px;
    margin: 10px;
    color: darkred;
}

#content{
    margin: 10px;
    color: crimson;
    font-family: Helvetica, sans-serif;
    font-size:15px;
    line-height: 23px;
    background-color: #ffffff;
}

div.transbox p {
margin: 5%;
font-weight: bold;
color: #000000;
}
}


h1{
    font-size: 35px;
    color: #555753;
    font-weight: bold;
}

.btn{
    font-size: 20px;
    line-height: 15px;
    color: darkred;
    background-color:none;
}
div button{
    font-size: 20px;
    line-height: 30px;
    color: crimson;
}

div.btn-group{
    font-size: 20px;
    line-height: 15px;
    color: darkred;
}

a:hover {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: darkred;
}


img {
    border: 0;
    width: 95%;
    height: auto;
}